@model IEnumerable<DabTrial.Models.SiteContact>

@{
    ViewBag.Title = "Contact Us";
    Html.Assets().Libraries.Uses("AjaxFormTools");
    Html.AntiForgeryToken();
}
<h2>Contact Us</h2>
<h3>Principle Investigators:</h3>
<ul>
@foreach (var centre in Model) //Model.SelectMany(c=>c.Investigators).Where(i=>i.IsPI)
{
    foreach (var investigator in centre.Investigators)
    {
        if (investigator.IsPI)
        {
            <li>
                <i>
                    @investigator.ProfessionalRole:
                </i>
                @if (investigator.IsPublicContact)
                {
                    @Ajax.ActionLink(investigator.FullName, "MailTo", new { id = investigator.UserId, name = investigator.FullName, role = investigator.ProfessionalRole, hospital = centre.Name }, new AjaxOptions { HttpMethod = "Get", OnSuccess = "displayAjaxFormDialog", LoadingElementId = "ajaxRequest_processing" });
                }
                else
                {
                    @(investigator.FullName)
                }
            </li>
        }
    }
}  
</ul>
<h3>Site Investigators:</h3>
<ul>
@foreach (var centre in Model)
{
    <li>
        <h4>@centre.Name</h4> 
        Ph: @centre.PublicPhoneNumber
        <ul>
        @foreach (var investigator in centre.Investigators)
        {
            <li>
                <i>
                    @(investigator.ProfessionalRole):
                </i> 
                @if(investigator.IsPublicContact){
                    @Ajax.ActionLink(investigator.FullName, "MailTo", new { id = investigator.UserId, name = investigator.FullName, role = investigator.ProfessionalRole, hospital = centre.Name }, new AjaxOptions { HttpMethod = "Get", OnSuccess = "displayAjaxFormDialog", LoadingElementId="ajaxRequest_processing"  });
                } else {
                    @(investigator.FullName)
                }
            </li>
        }
        </ul>
    </li>
}
</ul>