@model IEnumerable<DabTrial.Domain.Tables.AdverseEventType>

@{
    ViewBag.Title = "Index";
}

<h2>Types of Adverse Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdverseEventTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdverseEventTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdverseEventTypeId })
        </td>
    </tr>
    }

</table>
