@model DabTrial.Models.StudyCentreCreate

@{
    ViewBag.Title = "Create";
    Html.Assets().Libraries.Uses("AjaxFormTools", "jQueryUI");
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>StudyCentre</legend>
        <table>
            <tbody>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.RecordSystemId)
                    </td>
                    <td class="editor-field">
                        @Html.DropDownListFor(model => model.RecordSystemId, Model.RecordSystems, "-please select a value-")
                        or @Ajax.ActionLink("Create New Medical Record Provider", "Create", "RecordProvider", new AjaxOptions { HttpMethod = "Get", OnSuccess = "displayAjaxFormDialog", LoadingElementId="ajaxRequest_processing"  })
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.Name)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.Name)
                    
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.Abbreviation)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.Abbreviation)
                    
                        @Html.ValidationMessageFor(model => model.Abbreviation)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.PublicPhoneNumber)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.PublicPhoneNumber)
                    
                        @Html.ValidationMessageFor(model => model.PublicPhoneNumber)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.SiteRegistrationPwd)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.SiteRegistrationPwd)
                    
                        @Html.ValidationMessageFor(model => model.SiteRegistrationPwd)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.IsUsing1pcAdrenaline)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.IsUsing1pcAdrenaline)
                    
                        @Html.ValidationMessageFor(model => model.IsUsing1pcAdrenaline)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.CommencedEnrollingOn)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.CommencedEnrollingOn)
                    
                        @Html.ValidationMessageFor(model => model.CommencedEnrollingOn)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.ValidDomainList)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.ValidDomainList)
                    
                        @Html.ValidationMessageFor(model => model.ValidDomainList)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.MaxWardSupportId)
                    </td>
                    <td class="editor-field">
                        @Html.DropDownListFor(model => model.MaxWardSupportId, Model.RespSupports)

                        @Html.ValidationMessageFor(model => model.MaxWardSupportId)
                    </td>
                </tr>
                <tr class="editor-row">
                    <td class="editor-label">
                        @Html.LabelDetailsFor(model => model.TimeZoneId)
                    </td>
                    <td class="editor-field">
                        @Html.DropDownListFor(model => model.TimeZoneId, Model.TimeZones)
                    
                        @Html.ValidationMessageFor(model => model.TimeZoneId)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Create">
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
