@model DabTrial.Models.DataUpdateEmailModel


To: @Model.To
From: @Model.From
Subject:Participant Data Potentially Requiring Updating


<p>
   This is a monthly reminder of data which may require updating in order to
   keep DAB trial participant information as current and accurate as possible.
</p>

<p>
	The following participants were enrolled over @Model.DaysBeforeNotifying days ago, 
	and are still not registered as complete. For further information, please go to the
    <a href="http://www.dabtrial.com/DataSummary">Missing Variables</a> page of the dabtrial website.
</p>
<ul>
    @foreach (var p in Model.Participants4Update)
    {
		<li>
			<strong>Participant @p.ParticipantId</strong> - Enrolled @p.DaysSinceEnrolled days ago, is currently classed as 
            <em>@p.DataStage</em> <a href="http://www.dabtrial.com/Participant/Details/@p.ParticipantId">Details</a>
        </li>
	}
</ul>
