@model DabTrial.Models.UserPasswordEmailModel

To: @Model.To
From: @(string.IsNullOrEmpty(Model.From)?"dabtrial@dabtrial.com":Model.From)
Subject: DAB trial change of user password

<p>
    Hello
</P>
<p>
    You have been assigned a new password.
</P>

<p>
    To log in to the site, please go to @Html.ActionLink("this link", "ChangePassword", "Account")
</p>

<p>
    And login with the following details:
</p>
<dl>
    <dt>User name:</dt>
    <dd>@Model.UserName</dd>
    <dt>Password:</dt>
    @if (@Model.AutoAssignedPassword)
    {
        <dd>@Model.Password</dd>
    }
    else
    {
        <dd title="@Model.Password">@(new string('*',@Model.Password.Length)) <em>(hover mouse to see)</em></dd>
    }
</dl>
<p>
    After logging on, you will be able to change your password.
</p>
@Html.Partial("_signature")