@model DabTrial.Models.DosingModel

@{
    Html.Assets().Libraries.Uses("DrugDosing");
}
<div id="doseContainer" class="hidableDiv">
    <ul class="drugDose">
        <li class="drugDose">
	        <span class="drugName">Dexamethasone</span> <span class="dose">@Html.DisplayFor(model => model.DexamethasoneMg) mg</span> <span class="route">IV or IM</span>, <span class="freq">single dose</span> <span class="lastDose">now</span>.
        </li>
        <li class="drugDose">
            Then <span class="eitherOr">either</span>
            <div class="inlineBlock">
		        <span class="drugName">methylprednisolone</span> <span class="dose">@Html.DisplayFor(model => model.MethyPredMg) mg</span> <span class="route">IV</span>
                <div class="eitherOr">or</div>
                <span class="drugName">prednisolone</span> <span class="dose">@Html.DisplayFor(model => model.PredMg) mg</span> <span class="route">Orally/NG</span>
            </div>
            <span class="freq">8 Hourly</span> for a total of 9 doses (i.e. <span class="lastDose">last 8 hourly dose given @Model.LastHighDoseSteroid</span>), followed by <span class="freq">daily</span> on days 4-6 (<span class="lastDose">last dose @Model.LastDoseSteroid</span>).
        </li>
        <li class="drugDose">
            <span class="route">Nebulised</span> <span class="drugName">adrenaline<sup>1</sup></span> <span class="dose">@Html.DisplayFor(model => model.AdrenalineMl) ml of @(Model.AdrenalineIs1pc?"1%":"1 in 1000") @(Model.AdrenalineMl<6?"made up to 6ml with 0.9% saline":"neat")</span>, <span class="freq">30 minutely</span> for a total of 5 doses, 
            followed by <span class="freq">1-4 hourly</span> (but at least 4 hourly) for a total of 72 hours<sup>2</sup> (<span class="lastDose">last dose @Model.LastDoseAdrenaline</span>). 
            <ol>
                <li class="note">Providing the resting heart rate is &lt; 180 beats per minute</li>
                <li class="note">Beyond 72 hours, nebulised adrenaline can be administered on a prn basis rather than a minimum of every 4 hours and may continue for a further 3 days while in intensive care</li>
            </ol>
            
        </li>
    </ul>
    
    <div class="note">
        Please note all medications to be ceased on discharge from intensive care, regardless of the number of doses administered
    </div>
</div>
