@model DabTrial.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Html.Assets().Libraries.Uses("Validation");
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length
    @if(Membership.MinRequiredNonAlphanumericCharacters > 0)
    {
        <text>and contain at least</text>
        if(Membership.MinRequiredNonAlphanumericCharacters==1)
        {
            <text>1 character which is</text>
        }
        else
        {
            @Membership.MinRequiredNonAlphanumericCharacters <text>characters which are</text>
        }
        <text><em>not</em> a letter or a number</text>
    }
</p>

<script src="@Url.Content(" ~/scripts/jquery.validate.min.js")"="" type="text/javascript"></script>
<script src="@Url.Content(" ~/scripts/jquery.validate.unobtrusive.min.js")"="" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <table>
                <tbody>
    
                    <tr class="editor-row">
                        <td class="editor-label">
                            @Html.LabelDetailsFor(m => m.OldPassword)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(m => m.OldPassword)
                            @Html.ValidationMessageFor(m => m.OldPassword)
                        </td>
                    </tr>

                    <tr class="editor-row">
                        <td class="editor-label">
                            @Html.LabelDetailsFor(m => m.NewPassword)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(m => m.NewPassword)
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </td>
                    </tr>

                    <tr class="editor-row">
                        <td class="editor-label">
                            @Html.LabelDetailsFor(m => m.ConfirmPassword)
                        </td>
                        <td class="editor-field">
                            @Html.EditorFor(m => m.ConfirmPassword)
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td><input type="submit" value="Change Password"></td>
                    </tr>
        
                </tbody>
            </table>
        </fieldset>
    </div>
}
